.env

/node_modules
/.env
/.DS_Store
/coverage
/npm-debug.log
/yarn-error.log
/.next
/out
/.vercel
/.vscode    
/.idea
/dist
/.parcel-cache
/.turbo
/.pnp
.pnp.js
*.local
*.log
*.tsbuildinfo
.DS_Store
.vscode
.idea
dist
.cache
.parcel-cache

    